* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid #e7e7e7;
}

.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  background-color: white;
}

#carouselExampleControls .layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.233);
}

.text-holder .heart {
  font-size: 150px;
  opacity: 0.2;
}

.carousel-control-prev {
  position: absolute;
  left: -150px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#carousel:hover .carousel-control-prev {
  position: absolute;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.carousel-control-next {
  position: absolute;
  right: -150px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#carousel:hover .carousel-control-next {
  position: absolute;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

p {
  color: #6c757d;
  font-size: 15px;
  font-weight: 600;
}

.padding-100 {
  padding: 100px 0px;
}

p a {
  text-decoration: underline;
  color: #233645;
  font-weight: 600;
  font-size: 15px;
}

p a:hover {
  text-decoration: none;
  color: #233645;
  text-decoration: underline;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

ul {
  list-style-type: none;
}

li a {
  padding: 20px;
  color: #233645;
  font-weight: 700;
  font-size: 15px;
}

li a:hover {
  text-decoration: none;
  color: #233645;
}

.text {
  color: #dddddd;
}

.emergency ul li i {
  margin-right: 15px;
  font-size: 46px;
  position: relative;
  float: left;
  color: #1ebeb6;
  top: 3px;
}

.emerge p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

.emerge p strong {
  display: block;
  font-size: 18px;
  margin-top: -5px;
}

.nav-item a:hover {
  color: #1ebeb6 !important;
}

.dropdown:hover .dropdown-menu {
  position: relative;
  display: block;
}

.dropdown:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown:hover .dropdown-menu {
  position: absolute;
  left: 0;
}

.carousel-item img {
  position: relative;
}

.carousel-item .text-holder {
  position: absolute;
  top: 180px;
  left: 190px;
  color: white;
}

h4 {
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 22px;
}

.btn i {
  height: 30px;
  background: #ffffff;
  color: #1ebeb6;
  line-height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 5px;
}

.btn-success {
  background-color: #1ebeb6;
}

.carousel img {
  background-size: cover;
}

.carousel-item h2 {
  font-weight: 300;
  font-size: 80px;
  line-height: 1;
  margin-bottom: 25px;
}

.carousel-item a {
  margin-top: 15px;
  margin-right: 5px;
}

.item i {
  display: inline-block;
  font-size: 40px;
  margin-bottom: 40px;
  color: #1ebeb6;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.item i::after {
  position: absolute;
  left: -15px;
  top: -10px;
  content: "";
  height: 120px;
  width: 120px;
  background: url("../img/3.svg");
  background-size: contain;
  z-index: -2;
  background-position: center;
  background-repeat: no-repeat;
}

.item {
  text-align: center;
}

.item ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px dashed #cccccc;
  margin-top: 10px;
  padding-top: 25px;
}

.item ul li p {
  font-weight: 650;
  color: #666666;
}

span {
  color: #6c757d;
}

.image-holder {
  position: relative;
}

.image-holder::before {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 350px;
  width: 350px;
  background: #1ebeb6;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.1;
}

.image-holder::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 300px;
  width: 300px;
  background: #1ebeb6;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.our-video {
  position: absolute;
  right: 0;
  bottom: -50px;
  background: #ffffff;
  padding: 50px 30px;
  left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video a {
  position: relative;
  display: inline-block;
  left: -7px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  text-align: center;
  margin-top: 0 !important;
  top: -4px;
  margin-left: -12px;
  color: #1ebeb6;
  font-size: 30px;
  color: #ffffff;
  background-color: #1ebeb6;
  border-radius: 50%;
}

.video a i {
  left: 3px;
  top: 21px;
  display: block;
  position: relative;
  z-index: 3;
  text-align: center;
  font-size: 25px !important;
}

.video a::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 68px;
  height: 68px;
  background: #1ebeba;
  border-radius: 50%;
  -webkit-animation: play 1.5s ease-out infinite;
          animation: play 1.5s ease-out infinite;
}

@-webkit-keyframes play {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes play {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.icons i {
  font-size: 50px;
  color: #1ebeb6;
}

.owl-something {
  background-color: #f7f7f7;
}

.videos {
  z-index: 0;
}

.videos a {
  position: relative;
  display: inline-block;
  left: 30px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  text-align: center;
  margin-top: 0 !important;
  top: -4px;
  margin-left: -12px;
  color: #1ebeb6;
  font-size: 30px;
  color: #ffffff;
  background-color: #1ebeb6;
  border-radius: 50%;
}

.videos a i {
  top: 20px;
  display: block;
  position: relative;
  z-index: 3;
}

.videos a i::after {
  position: absolute;
  left: -6px;
  top: -25px;
  content: "";
  height: 78px;
  width: 80px;
  background: #1ebeb6;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.5;
}

.videos a::before {
  position: absolute;
  left: 262px;
  bottom: -62px;
  content: "";
  height: 150px;
  width: 150px;
  background: url(../img/shape4.png);
  background-size: contain;
  z-index: -1;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0.3;
}

.owl-carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.owl-carousel .owl-dots .owl-dot span {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  border-radius: 50%;
  background: white;
  position: relative;
  z-index: 1;
  border: 2px solid #cccccc;
}

.owl-carousel .owl-dots .active span {
  background: none !important;
}

.owl-carousel .owl-dots .active span:after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 5px;
  width: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #1ebeb6;
  border-radius: 50%;
}

.owl-carousel .items {
  -webkit-box-shadow: 0 0 10px #e7e7e7;
          box-shadow: 0 0 10px #e7e7e7;
  background: #ffffff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.owl-carousel .items .img-box {
  position: relative;
  z-index: 1;
  margin: 10px;
  margin-bottom: 0;
}

#doctors {
  background-color: #f7f7f7;
}

#doctors .nav a {
  padding: 20px 15px;
  background: #daf1f0;
  color: black;
}

#doctors .nav a.active {
  background: #1ebeb6 !important;
  color: white !important;
}

#doctors .doctors h5 {
  color: #1ebeb6;
}

#doctors .doctors h3::before {
  background: #1ebeb6 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 40px;
  top: 81px;
}

#doctors .doctors h3::after {
  background: #1ebeb6 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: 20px;
  position: absolute;
  width: 5px;
  top: 81px;
}

#doctors .doctors p {
  width: 58%;
  font-size: 15px;
  color: grey;
  line-height: 28px;
}

.tab-pane .col-lg-6 {
  padding: 0px 22px 32px 22px !important;
}

.tab-pane .col-lg-6 .info {
  padding: 30px 40px;
  background: #ffffff;
  position: relative;
  z-index: 1;
}

.tab-pane .col-lg-6 .info::after {
  position: absolute;
  left: -15px;
  top: 30px;
  content: "";
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #ffffff;
}

.tab-pane .col-lg-6 .info span {
  color: #1ebeb6;
}

.tab-pane .col-lg-6 .info p {
  font-size: 14px !important;
  color: grey;
  line-height: 25px;
}

#testimon .heading {
  padding: 108px;
  width: 660px;
  height: 660px;
  background: #1ebeb6;
  padding-top: 233px;
}

#testimon .heading h5 {
  color: white;
  font-weight: 700;
  margin-bottom: 25px;
  position: relative;
}

#testimon .heading h2 {
  color: white;
  font-weight: 700;
  margin-bottom: 25px;
}

#testimon .heading i::after {
  position: absolute;
  left: 173px;
  top: 211px;
  content: "\f10d";
  font-weight: 600;
  font-size: 120px;
  opacity: 0.2;
  color: #ffffff;
}

#testimon .btn {
  background: #ffffff;
  border: 2px solid #ffffff;
  color: #233645;
}

#testimon .btn i {
  background: #1ebeb6;
  color: #ffffff;
}

#testimon {
  overflow: hidden;
}

#testimon .col-lg-5 {
  padding: 0px !important;
}

#testimon .col-lg-5 .test-head {
  position: relative !important;
  padding-left: 160px;
  padding-right: 40px;
}

#testimon .col-lg-5 .test-head::before {
  position: absolute;
  left: 145;
  top: -100px;
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 120px;
  opacity: 0.2;
  color: #ffffff;
}

#testimon .col-lg-5 .test-head::after {
  position: absolute;
  right: 0;
  top: -150%;
  height: 770px;
  width: 100%;
  background: #1ebeb6;
  z-index: -1;
  content: "";
}

#testimon .col-lg-5 .test-head h6 {
  padding: 10px 0px;
}

#testimon .col-lg-5 .test-head h2 {
  padding: 10px 0px;
}

#testimon .col-lg-5 .test-head h6 {
  color: white;
}

#testimon .col-lg-5 .test-head h2 {
  color: white;
}

#testimon .col-lg-5 .test-head a {
  padding: 10px 23px;
  background: white;
  border: 0px;
  border-radius: 5px;
  font-weight: 600;
  color: black;
  font-size: 14px;
}

#testimon .col-lg-5 .test-head a:hover {
  text-decoration: none;
}

#testimon .col-lg-5 .test-head a i {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #1ebeb6;
  color: white;
  line-height: 28px;
  padding-left: 3px;
  margin-right: 5px;
}

#testimon .col-lg-7 {
  padding: 100px 0px !important;
  padding-left: 30px !important;
}

#testimon .col-lg-7 .owl-carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimon .col-lg-7 .owl-carousel .owl-dots .active {
  position: relative;
  z-index: 0;
}

#testimon .col-lg-7 .owl-carousel .owl-dots .active::after {
  content: "";
  height: 5px;
  width: 5px;
  background-color: #1ebeb6;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

#testimon .col-lg-7 .owl-carousel .owl-dots .owl-dot:focus {
  outline: none;
}

#testimon .col-lg-7 .owl-carousel .owl-dots .owl-dot span {
  background-color: white !important;
  display: block !important;
  height: 20px;
  width: 20px;
  border: 2px solid #cccccc;
  border-radius: 50%;
  margin: 5px;
}

#testimon .col-lg-7 .owl-carousel .owl-item {
  padding: 20px 20px !important;
}

#testimon .col-lg-7 .owl-carousel .owl-item .item {
  padding: 30px 30px !important;
  -webkit-box-shadow: 0 0 10px #e7e7e7;
          box-shadow: 0 0 10px #e7e7e7;
  background: #ffffff;
}

#testimon .col-lg-7 .owl-carousel .owl-item .item p {
  font-size: 14px;
}

#testimon .col-lg-7 .owl-carousel .owl-item .item span {
  font-size: 11px !important;
  text-transform: uppercase;
}

#testimon .col-lg-7 .owl-carousel .owl-item .item span strong {
  color: #1ebeb6;
}

#testimon .col-lg-7 .owl-carousel .owl-item .item .provider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

#testimon .col-lg-7 .owl-carousel .owl-item .item .provider .thumb {
  height: 80px;
  width: 80px;
  margin-right: 15px;
  margin: auto auto 30px;
}

#testimon .col-lg-7 .owl-carousel .owl-item .item .provider .thumb img {
  border-radius: 50%;
}

#testimon .col-lg-7 .owl-carousel .owl-item .item .provider .bio h5 {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 5px;
}

#testimon .col-lg-7 .owl-carousel .owl-item .item .info {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #666666;
  text-align: center;
}

.card-content {
  position: relative;
  margin: 29px;
}

.card-content::after {
  position: absolute;
  right: -50px;
  bottom: -80px;
  content: "";
  height: 150px;
  width: 150px;
  background: url(../img/shape4.png);
  background-size: contain;
  z-index: -1;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0.3;
}

.department h4 {
  color: #1ebeb6;
  font-weight: 600;
}

.department h2 {
  position: relative;
}

.department h2::before {
  background: #1ebeb6 none repeat scroll 0 0;
  bottom: 0;
  top: 40px;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 40px;
}

.us {
  padding-right: 65px;
}

.single-item {
  margin-top: 30px;
}

.single-item .items {
  padding: 35px;
  background: #ffffff;
  text-align: center;
  border: 2px solid #1ebeb6;
}

.single-item .items h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.appoinment-box {
  position: relative;
}

.appoinment-box::after {
  position: absolute;
  left: -30px;
  top: -30px;
  content: "";
  height: 100%;
  width: 100%;
  background: #1ebeb6;
  z-index: -1;
  opacity: 0.2;
}

.appoinment-box .heading h4 {
  position: relative;
  color: white;
}

.appoinment-box .heading h4::after {
  position: absolute;
  left: 50%;
  bottom: -60px;
  content: "";
  height: 100%;
  width: 30%;
  background-image: url("../img/devider-light.png");
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
}

.appoinment-box form {
  position: relative;
  background: #1ebeb6;
  padding: 60px 37px;
  z-index: 1;
}

.appoinment-box form input,
.appoinment-box form select {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 25px;
  color: #ffffff;
}

.appoinment-box form input::-webkit-input-placeholder,
.appoinment-box form select::-webkit-input-placeholder {
  color: white;
}

.appoinment-box form input:-ms-input-placeholder,
.appoinment-box form select:-ms-input-placeholder {
  color: white;
}

.appoinment-box form input::-ms-input-placeholder,
.appoinment-box form select::-ms-input-placeholder {
  color: white;
}

.appoinment-box form input::placeholder,
.appoinment-box form select::placeholder {
  color: white;
}

.appoinment-box button {
  padding: 12px 40px;
  background: #ffffff;
  color: #1ebeb6;
  border: none;
  font-weight: 600;
  width: 100%;
  border-radius: 30px;
}

.inform {
  padding: 20px 50px;
  background: #ffffff;
  position: relative;
  top: 110px;
  left: -140px;
  border-bottom: 3px solid #1ebeb6;
}

.btn-gradient {
  position: relative;
  z-index: 1;
  color: #ffffff !important;
}

.btn-gradient::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#1ebeb6), to(#00827c));
  background: linear-gradient(90deg, #1ebeb6 0%, #00827c 100%);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  z-index: -1;
  -webkit-box-shadow: 0 0 10px rgba(255, 136, 0, 0.5), inset 0 0 1px 1px #1ebeb6;
          box-shadow: 0 0 10px rgba(255, 136, 0, 0.5), inset 0 0 1px 1px #1ebeb6;
}

.btn {
  font-weight: 700;
  line-height: 25px;
  text-transform: capitalize;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
  font-size: 17px;
}

.btn i {
  height: 30px;
  background: #ffffff;
  color: #79dbd6;
  line-height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 5px;
}

.cardiologist ul li {
  position: relative;
}

.cardiologist ul li a {
  display: block;
  background: #19c9c0;
  color: #ffffff;
}

.cardiologist ul li a i {
  font-size: 45px;
  min-width: 50px;
  margin-right: 15px;
}

.cardiologist ul li a span {
  color: #ffffff;
}

.info-box {
  padding: 30px 40px;
  background: #ffffff;
  position: relative;
  z-index: 1;
}

.info-box::after {
  position: absolute;
  left: -15px;
  top: 30px;
  content: "";
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #ffffff;
}

.info-box span {
  display: block;
  margin-bottom: 15px;
  color: #1ebeb6;
}

.info-box p {
  color: #666666;
  margin: 0 0 15px;
  font-weight: 400;
}

.item-area {
  position: relative;
}

.item-area .date {
  position: absolute;
  left: 30px;
  bottom: 30px;
  height: 70px;
  width: 80px;
  background: #1ebeb6;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  padding: 0 20px;
  line-height: 1.3;
  font-weight: 600;
  padding-top: 15px;
  border-radius: 5px 5px 0 5px;
}

.item-area .date::after {
  position: absolute;
  right: 0;
  bottom: -10px;
  content: "";
  border-right: 15px solid #1ebeb6;
  border-top: 0;
  border-bottom: 15px solid transparent;
}

.patient {
  background-color: #ffffff;
  padding: 30px;
}

.patient h4 a:hover {
  text-decoration: none;
  color: #1ebeb6;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.patient .tags {
  margin-bottom: 10px;
}

.patient .tags ul li {
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  padding-right: 5px;
}

.patient .tags ul li .health::after {
  position: absolute;
  right: -1px;
  bottom: 0;
  content: ",";
  font-weight: 600;
}

.patient .tags ul li a {
  color: #666666;
  font-weight: 500;
  text-decoration: none;
}

.paragraf {
  text-decoration: none;
  color: black;
}

.meta {
  margin-top: 20px;
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
}

.meta ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.meta ul a img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 6px;
}

.meta ul a span {
  margin: 10px;
}

.meta ul a span:hover {
  text-decoration: none;
  color: #1ebeb6;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.meta ul li a i {
  color: #1ebeb6;
}

#address .form strong {
  display: block;
  color: #1ebeb6;
  margin-top: 5px;
  font-size: 32px;
}

#address .form .form-control {
  border: none !important;
  border-bottom: 1px solid #e7e7e7 !important;
  padding: 0;
  border-radius: inherit !important;
}

#address .form textarea {
  min-height: 150px;
}

#address .form a {
  border-radius: 30px;
  padding: 12px 35px;
}

.address-info {
  position: absolute;
  left: 30px;
  bottom: 0;
  padding: 30px;
  background: #ffffff;
  right: 30px;
}

.address-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.address-info ul li {
  margin: 0 30px;
}

.address-info ul li h5 {
  margin-bottom: 20px;
}

.address-info ul li h5 i {
  margin-right: 5px;
  color: #1ebeb6;
  font-size: 30px;
  position: relative;
  top: 5px;
}

footer {
  background: #001d4c;
}

footer .heald {
  padding-top: 43px;
}

footer .heald p {
  color: #96aac1;
}

footer img {
  margin-bottom: 30px;
  max-width: 100%;
}

footer .assurance h5 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

footer .assurance ul {
  list-style-type: none;
}

footer .assurance ul li i {
  font-size: 30px;
  min-width: 50px;
  display: inline-block;
}

footer .department {
  margin-top: 50px;
}

footer .department h4 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 22px;
  color: white;
}

footer .department ul li {
  margin-bottom: 15px;
  color: #96aac1;
}

footer .department ul li :last-child {
  margin-bottom: 0;
}

footer .department ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #96aac1;
}

footer .useful-links {
  margin-top: 50px;
}

footer .useful-links h4 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 22px;
  color: white;
}

footer .useful-links ul li {
  margin-bottom: 15px;
  color: #96aac1;
}

footer .useful-links ul li :last-child {
  margin-bottom: 0;
}

footer .useful-links ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #96aac1;
}

footer .branch {
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.05);
  padding: 37px;
  border-bottom: 2px solid #1ebeb6;
}

footer .branch .central ul {
  list-style-type: none;
}

footer .branch .central ul li {
  margin-bottom: 20px;
  color: #96aac1;
}

footer .branch .central ul li :last-child {
  margin: 0;
}

footer .branch .central ul li b {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 900;
}

footer .footer-end {
  background: rgba(255, 255, 255, 0.03);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  padding-bottom: 0;
}

footer .footer-end .social a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

footer .footer-end .social a p {
  padding-right: 20px;
}

footer .footer-end .copyright p {
  color: white;
}

footer .footer-end .copyright a {
  text-decoration: none;
  color: #ffffff;
}

footer .footer-end b {
  color: white;
}

@media only screen and (max-width: 991px) {
  footer .department {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  footer .department ul {
    padding-left: 0px !important;
  }
  footer .useful-links ul {
    padding-left: 0px !important;
  }
}

@media only screen and (max-width: 767px) {
  .nav .container button.navbar-toggler {
    width: 50px !important;
  }
  .nav li a {
    padding: 20px;
    color: #233645;
    font-weight: 700;
    font-size: 15px;
  }
  header {
    display: none;
  }
  .emergency {
    display: none;
  }
  #third .our-video {
    position: relative !important;
    left: 0px !important;
    bottom: 0px !important;
  }
  #third .items {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

.doctor-list {
  background: url(../img/7.png), -webkit-gradient(linear, left top, right top, from(#1ebeb6), to(#00827c));
  background: url(../img/7.png), linear-gradient(90deg, #1ebeb6 0%, #00827c 100%);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

.doctor-list .col-lg-8 {
  padding-top: 100px !important;
}

.doctor-list .col-lg-8 h1 {
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

.doctor-list .col-lg-8 ul {
  background: transparent none repeat scroll 0 0;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.doctor-list .col-lg-8 ul li.active {
  color: #dddddd;
  text-decoration: underline;
}

.doctor-list .col-lg-8 ul li {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 5px;
}

.doctor-list .col-lg-8 ul li a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  color: #ffffff;
  position: relative;
}

.doctor-list .col-lg-8 ul li a::after {
  content: "";
  font-family: "themify";
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  right: -2px;
  height: 8px;
  width: 8px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  top: 24px;
}

.doctor-list .col-lg-8 ul li a i {
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */