p {
  color: #6c757d;
  font-size: 15px;
  font-weight: 600;
}

p {
  a {
    text-decoration: underline;
    color: #233645;
    font-weight: 600;
    font-size: 15px;
  }
}
p {
  a {
    &:hover {
      text-decoration: none;
      color: #233645;
      text-decoration: underline;
      transition: all 0.35s ease-in-out;
    }
  }
}
ul {
  list-style-type: none;
}

li a {
  padding: 20px;
  color: #233645;
  font-weight: 700;
  font-size: 15px;
}

li {
  a {
    &:hover {
      text-decoration: none;
      color: #233645;
    }
  }
}
.text {
  color: #dddddd;
}

.emergency {
  ul {
    li {
      i {
        margin-right: 15px;
        font-size: 46px;
        position: relative;
        float: left;
        color: #1ebeb6;
        top: 3px;
      }
    }
  }
}

.emerge {
  p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
  }
}

.emerge {
  p {
    strong {
      display: block;
      font-size: 18px;
      margin-top: -5px;
    }
  }
}
.nav-item {
  a {
    &:hover {
      color: #1ebeb6 !important;
    }
  }
}

.dropdown {
  &:hover {
    .dropdown-menu {
      position: relative;
      display: block;
    }
  }
}
.dropdown {
  &:hover i {
    transform: rotate(180deg);
  }
}

.dropdown {
  &:hover .dropdown-menu {
    position: absolute;
    left: 0;
  }
}

.carousel-item img {
  position: relative;
}

.carousel-item {
  .text-holder {
    position: absolute;
    top: 180px;
    left: 190px;
    color: white;
  }
}

h4 {
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 22px;
}

.btn {
  i {
    height: 30px;
    background: #ffffff;
    color: #1ebeb6;
    line-height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 5px;
  }
}
.btn-success {
  background-color: #1ebeb6;
}
.carousel {
  img {
    background-size: cover;
  }
}

.carousel-item {
  h2 {
    font-weight: 300;
    font-size: 80px;
    line-height: 1;
    margin-bottom: 25px;
  }
}

.carousel-item {
  a {
    margin-top: 15px;
    margin-right: 5px;
  }
}
.item {
  i {
    display: inline-block;
    font-size: 40px;
    margin-bottom: 40px;
    color: #1ebeb6;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }
}

.item {
  i {
    &::after {
      position: absolute;
      left: -15px;
      top: -10px;
      content: "";
      height: 120px;
      width: 120px;
      background: url("../img/3.svg");
      background-size: contain;
      z-index: -2;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.item {
  text-align: center;
  ul {
    li {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-top: 1px dashed #cccccc;
      margin-top: 10px;
      padding-top: 25px;
      p {
        font-weight: 650;
        color: #666666;
      }
    }
  }
}

span {
  color: #6c757d;
}
.image-holder {
  position: relative;
  &::before {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    height: 350px;
    width: 350px;
    background: #1ebeb6;
    z-index: -1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.1;
  }
  &::after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    height: 300px;
    width: 300px;
    background: #1ebeb6;
    z-index: -1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

.our-video {
  position: absolute;
  right: 0;
  bottom: -50px;
  background: #ffffff;
  padding: 50px 30px;
  left: 120px;
  display: flex;
  align-items: center;
}

.video a {
  position: relative;
  display: inline-block;
  left: 30px;
  height: 68px;
  width: 68px;
  //   background-color: #1ebeb6;
  line-height: 68px;
  text-align: center;
  margin-top: 0 !important;
  top: -4px;
  margin-left: -12px;
  color: #1ebeb6;
  font-size: 30px;
  color: #ffffff;
  background-color: #1ebeb6;
  border-radius: 50%;
  i {
    top: 20px;
    display: block;
    position: relative;
    z-index: 3;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    border-radius: 50%;
    background-color: #1ebeb6;
  }
}
.text-holder {
  margin-left: 50px;
}
.icons {
  i {
    font-size: 50px;
    margin-right: 20px;
    color: #1ebeb6;
  }
}
.department {
  h4 {
    color: #1ebeb6;
    font-weight: 600;
  }
  h2 {
    position: relative;
    &::before {
      background: #1ebeb6 none repeat scroll 0 0;
      bottom: 0;
      top: 40px;
      content: "";
      height: 2px;
      left: 50%;
      margin-left: -25px;
      position: absolute;
      width: 40px;
    }
  }
}

.us {
  padding-right: 65px;
}
.single-item {
  margin-top: 30px;

  .items {
    padding: 35px;
    background: #ffffff;
    text-align: center;
    border: 2px solid rgba(30, 190, 182, 1);
    h2 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
    }
  }
}

.appoinment-box {
  .heading {
    h3 {
      position: relative;

      &::after {
        position: absolute;
        left: 50%;
        bottom: -60px;
        content: "";
        height: 100%;
        width: 30%;
        background-image: url("../img/devider-light.png");
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  form {
    position: relative;
    background: #1ebeb6;
    padding: 60px 37px;
    z-index: 1;
    &::after {
      position: absolute;
      left: -30px;
      top: -30px;
      content: "";
      height: 100%;
      width: 100%;
      background: #1ebeb6;
      z-index: -1;
      opacity: 0.2;
    }

    input,
    select {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 30px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      padding: 0 25px;
      color: #ffffff;
    }
  }
}
button {
  padding: 12px 40px;
  background: #ffffff;
  color: #1ebeb6;
  border: none;
  font-weight: 600;
  width: 100%;
  border-radius: 30px;
}
.inform {
  padding: 20px 50px;
  background: #ffffff;
  position: relative;
  top: 110px;
  left: -140px;
  border-bottom: 3px solid #1ebeb6;
}

.btn-gradient {
  position: relative;
  z-index: 1;
  color: #ffffff !important;
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(30, 190, 182, 1) 0%,
      rgba(0, 130, 124, 1) 100%
    );
    transition: all 0.35s ease-in-out;
    z-index: -1;
    box-shadow: 0 0 10px rgba(255, 136, 0, 0.5), inset 0 0 1px 1px #1ebeb6;
  }
}

.btn {
  font-weight: 700;
  line-height: 25px;
  text-transform: capitalize;

  transition: all 0.35s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
  font-size: 17px;
  i {
    height: 30px;
    background: #ffffff;
    color: #79dbd6;
    line-height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 5px;
  }
}
.doctors {
  background-color: rgb(231, 226, 226);
}
.cardiologist {
  ul {
    li {
      position: relative;

      a {
        display: block;
        background: rgb(25, 201, 192);
        color: #ffffff;

        i {
          font-size: 45px;
          min-width: 50px;
          margin-right: 15px;
        }
        span {
          color: #ffffff;
        }
      }
    }
  }
}
.info-box {
  padding: 30px 40px;
  background: #ffffff;
  position: relative;
  z-index: 1;
  &::after {
    position: absolute;
    left: -15px;
    top: 30px;
    content: "";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #ffffff;
  }
  span {
    display: block;
    margin-bottom: 15px;
    color: #1ebeb6;
  }
  p {
    color: #666666;
    margin: 0 0 15px;
    font-weight: 400;
  }
}
.item-area {
  position: relative;

  .date {
    position: absolute;
    left: 30px;
    bottom: 30px;
    height: 70px;
    width: 80px;
    background: #1ebeb6;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    padding: 0 20px;
    line-height: 1.3;
    font-weight: 600;
    padding-top: 15px;
    border-radius: 5px 5px 0 5px;
    &::after {
      position: absolute;
      right: 0;
      bottom: -10px;
      content: "";
      border-right: 15px solid #1ebeb6;
      border-top: 0;
      border-bottom: 15px solid transparent;
    }
  }
}
.patient {
  background-color: #ffffff;
  padding: 30px;
  h4 {
    a {
      &:hover {
        text-decoration: none;
        color: #1ebeb6;
        transition: all 0.35s ease-in-out;
      }
    }
  }
  .tags {
    margin-bottom: 10px;

    ul {
      li {
        display: inline-block;
        margin-bottom: 5px;
        position: relative;
        z-index: 1;
        padding-right: 5px;
        .health {
          &::after {
            position: absolute;
            right: -1px;
            bottom: 0;
            content: ",";
            font-weight: 600;
          }
        }
        a {
          color: #666666;
          font-weight: 500;
          text-decoration: none;
        }
      }
    }
  }
}

.paragraf {
  text-decoration: none;
  color: black;
}

.meta {
  margin-top: 20px;
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      img {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        margin-right: 6px;
      }
      span {
        margin: 10px;
        &:hover {
          text-decoration: none;
          color: #1ebeb6;
          transition: all 0.35s ease-in-out;
        }
      }
    }
    li {
      a {
        i {
          color: #1ebeb6;
        }
      }
    }
  }
}

.address-info {
  position: absolute;
  left: 30px;
  bottom: 0;
  padding: 30px;
  background: #ffffff;
  right: 30px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin: 0 30px;
      h5 {
        margin-bottom: 20px;
        i {
          margin-right: 5px;
          color: #1ebeb6;
          font-size: 30px;
          position: relative;
          top: 5px;
        }
      }
    }
  }
}
.form {
  strong {
    display: block;
    color: #1ebeb6;
    margin-top: 5px;
    font-size: 32px;
  }
  .form-control {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    padding: 0;
    border-radius: inherit;
  }
  textarea {
    min-height: 150px;
  }
  a {
    border-radius: 30px;
    padding: 12px 35px;
  }
}

footer {
  background: #001d4c;
  .heald {
    p {
      color: #96aac1;
    }
  }

  img {
    margin-bottom: 30px;
    max-width: 100%;
  }

  .assurance {
    h5 {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 18px;
    }
    ul {
      list-style-type: none;
      li {
        i {
          font-size: 30px;
          min-width: 50px;
          display: inline-block;
        }
      }
    }
  }
}

footer {
  .department {
    margin-top: 50px;
    h4 {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 22px;
      color: white;
    }

    ul {
      li {
        margin-bottom: 15px;

        color: #96aac1;
        :last-child {
          margin-bottom: 0;
        }

        a {
          text-decoration: none;
          font-weight: 600;
          color: #96aac1;
        }
      }
    }
  }
}

footer {
  .useful-links {
    margin-top: 50px;
    h4 {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 22px;
      color: white;
    }

    ul {
      li {
        margin-bottom: 15px;

        color: #96aac1;
        :last-child {
          margin-bottom: 0;
        }

        a {
          text-decoration: none;
          font-weight: 600;
          color: #96aac1;
        }
      }
    }
  }
}

footer {
  .branch {
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.05);
    padding: 37px;
    border-bottom: 2px solid #1ebeb6;

    .central {
      ul {
        list-style-type: none;
        li {
          margin-bottom: 20px;
          color: #96aac1;
          :last-child {
            margin: 0;
          }
          b {
            display: block;
            margin-bottom: 5px;
            color: #ffffff;
            font-weight: 900;
          }
        }
      }
    }
  }
}
