// HEADER,NAV START
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  border-bottom: 1px solid #e7e7e7;
}
.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  background-color: white;
}
p {
  color: #6c757d;
  font-size: 15px;
  font-weight: 600;
}
.padding-100 {
  padding: 100px 0px;
}

p {
  a {
    text-decoration: underline;
    color: #233645;
    font-weight: 600;
    font-size: 15px;
  }
}
p {
  a {
    &:hover {
      text-decoration: none;
      color: #233645;
      text-decoration: underline;
      transition: all 0.35s ease-in-out;
    }
  }
}
ul {
  list-style-type: none;
}

li a {
  padding: 20px;
  color: #233645;
  font-weight: 700;
  font-size: 15px;
}

li {
  a {
    &:hover {
      text-decoration: none;
      color: #233645;
      transition: all 0.35s ease-in-out;
    }
  }
}
.text {
  color: #dddddd;
}

.emergency {
  ul {
    li {
      i {
        margin-right: 15px;
        font-size: 46px;
        position: relative;
        float: left;
        color: #1ebeb6;
        top: 3px;
      }
    }
  }
}

.emerge {
  p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
  }
}

.emerge {
  p {
    strong {
      display: block;
      font-size: 18px;
      margin-top: -5px;
    }
  }
}
.nav-item {
  a {
    &:hover {
      color: #1ebeb6 !important;
      transition: 0.4s;
    }
  }
}

.dropdown {
  &:hover {
    .dropdown-menu {
      position: relative;
      display: block;
      top: 33px;
    }
  }
}
.dropdown {
  &:hover i {
    transform: rotate(180deg);
  }
}

.dropdown {
  &:hover .dropdown-menu {
    position: absolute;
    left: 0;
  }
}
// HEADER,NAV END

//section carousel start

#carouselExampleControls .layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.233);
}
.text-holder .heart {
  font-size: 150px;
  opacity: 0.2;
}
.carousel-control-prev {
  position: absolute;
  left: -150px;
  transition: 0.3s;
}
#carousel:hover .carousel-control-prev {
  position: absolute;
  left: 0;
  transition: 0.3s;
}
.carousel-control-next {
  position: absolute;
  right: -150px;
  transition: 0.3s;
}
#carousel:hover .carousel-control-next {
  position: absolute;
  right: 0;
  transition: 0.3s;
}

.carousel-item img {
  position: relative;
}

.carousel-item {
  .text-holder {
    position: absolute;
    top: 180px;
    left: 190px;
    color: white;
  }
}

h4 {
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 22px;
}

.btn {
  i {
    height: 30px;
    background: #ffffff;
    color: #1ebeb6;
    line-height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 5px;
  }
}
.btn-success {
  background-color: #1ebeb6;
}
.carousel {
  img {
    background-size: cover;
  }
}

.carousel-item {
  h2 {
    font-weight: 300;
    font-size: 80px;
    line-height: 1;
    margin-bottom: 25px;
  }
}

.carousel-item {
  a {
    margin-top: 15px;
    margin-right: 5px;
  }
}
//section carousel END
//  section main start
.item {
  i {
    display: inline-block;
    font-size: 40px;
    margin-bottom: 40px;
    color: #1ebeb6;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }
}

.item {
  text-align: center;
  ul {
    li {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-top: 1px dashed #cccccc;
      margin-top: 10px;
      padding-top: 25px;
      p {
        font-weight: 650;
        color: #666666;
      }
    }
  }
}

span {
  color: #6c757d;
}
.image-holder {
  position: relative;
  &::before {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    height: 350px;
    width: 350px;
    background: #1ebeb6;
    z-index: -1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.1;
  }
  &::after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    height: 300px;
    width: 300px;
    background: #1ebeb6;
    z-index: -1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}
//  section main END

// section third start
.our-video {
  position: absolute;
  right: 0;
  bottom: -50px;
  background: #ffffff;
  padding: 50px 30px;
  left: 120px;
  display: flex;
  align-items: center;
}

.video a {
  position: relative;
  display: inline-block;
  left: -7px;
  height: 68px;
  width: 68px;
  text-decoration: none;
  line-height: 68px;
  text-align: center;
  margin-top: 0 !important;
  top: -4px;
  margin-left: -12px;
  color: #1ebeb6;
  font-size: 30px;
  color: #ffffff;
  background-color: #1ebeb6;
  border-radius: 50%;

  i {
    left: 3px;
    top: 21px;
    display: block;
    position: relative;
    z-index: 3;
    text-align: center;
    font-size: 25px !important;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 68px;
    height: 68px;
    background: #1ebeba;
    border-radius: 50%;
    animation: play 1.5s ease-out infinite;
    @keyframes play {
      from {
        transform: scale(1);
        opacity: 1;
      }
      to {
        opacity: 0;
        transform: scale(1.5);
      }
    }
  }
}

.icons {
  i {
    font-size: 50px;

    color: #1ebeb6;
  }
}
// section third end

//section services start
.owl-something {
  background-color: #f7f7f7;
}
.videos {
  z-index: 0;
  a {
    position: relative;
    display: inline-block;
    left: 30px;
    height: 68px;
    width: 68px;
    text-decoration: none;
    line-height: 68px;
    text-align: center;
    margin-top: 0 !important;
    top: -4px;
    margin-left: -12px;
    color: #1ebeb6;
    font-size: 30px;
    color: #ffffff;
    background-color: #1ebeb6;
    border-radius: 50%;
    i {
      top: 20px;
      display: block;
      position: relative;
      z-index: 3;
      &::after {
        position: absolute;
        left: -6px;
        top: -25px;
        content: "";
        height: 78px;
        width: 80px;
        background: #1ebeb6;
        z-index: -1;
        border-radius: 50%;
        opacity: 0.5;
      }
    }
    &::before {
      position: absolute;
      left: 262px;
      bottom: -62px;
      content: "";
      height: 150px;
      width: 150px;
      background: url(../img/shape4.png);
      background-size: contain;
      z-index: -1;
      background-repeat: no-repeat;
      transform: rotate(-45deg);
      opacity: 0.3;
    }
  }
}

.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
}
.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  width: max-content;
}
.owl-carousel .owl-dots .owl-dot span {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  border-radius: 50%;
  background: white;
  position: relative;
  z-index: 1;
  border: 2px solid #cccccc;
}
.owl-carousel .owl-dots .active span {
  background: none !important;
}
.owl-carousel .owl-dots .active span:after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 5px;
  width: 5px;
  transform: translate(-50%, -50%);
  background: #1ebeb6;
  border-radius: 50%;
}
.owl-carousel {
  .items {
    box-shadow: 0 0 10px #e7e7e7;
    background: #ffffff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    .img-box {
      position: relative;
      z-index: 1;
      margin: 10px;
      margin-bottom: 0;
    }
  }
}

//section services end

// section doctor  start
#doctors {
  .nav {
    a {
      padding: 20px 15px;
      background: #daf1f0;
      color: black;
    }
    a.active {
      background: rgba(30, 190, 182, 1) !important;
      color: white !important;
    }
  }
  background-color: #f7f7f7;
  .doctors {
    h5 {
      color: #1ebeb6;
    }
    h3 {
      &::before {
        background: #1ebeb6 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        width: 40px;
        top: 81px;
      }
      &::after {
        background: #1ebeb6 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: 20px;
        position: absolute;
        width: 5px;
        top: 81px;
      }
    }
    p {
      width: 58%;
      font-size: 15px;
      color: grey;
      line-height: 28px;
    }
  }
}
.tab-pane {
  .col-lg-6 {
    padding: 0px 22px 32px 22px !important;
    .info {
      padding: 30px 40px;
      background: #ffffff;
      position: relative;
      z-index: 1;
      &::after {
        position: absolute;
        left: -15px;
        top: 30px;
        content: "";
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid #ffffff;
      }
      span {
        color: #1ebeb6;
      }
      p {
        font-size: 14px !important;
        color: grey;
        line-height: 25px;
      }
    }
  }
}

// section doctor  end

// section testimon  start

#testimon {
  overflow: hidden;
  .col-lg-5 {
    padding: 0px !important;
    .test-head {
      position: relative !important;
      &::before {
        position: absolute;
        left: 145;
        top: -100px;
        content: "\f10d";
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 120px;
        opacity: 0.2;
        color: #ffffff;
      }
      &::after {
        position: absolute;
        right: 0;
        top: -150%;
        height: 770px;
        width: 100%;
        background: #1ebeb6;
        z-index: -1;
        content: "";
      }
      padding-left: 160px;
      padding-right: 40px;
      h6 {
        padding: 10px 0px;
      }
      h2 {
        padding: 10px 0px;
      }

      h6 {
        color: white;
      }
      h2 {
        color: white;
      }

      a {
        padding: 10px 23px;
        background: white;
        border: 0px;
        border-radius: 5px;
        font-weight: 600;
        color: black;
        font-size: 14px;
        &:hover {
          text-decoration: none;
        }

        i {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background-color: #1ebeb6;
          color: white;
          line-height: 28px;
          padding-left: 3px;
          margin-right: 5px;
        }
      }
    }
  }

  .col-lg-7 {
    padding: 100px 0px !important;
    padding-left: 30px !important;

    .owl-carousel {
      .owl-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        .active {
          position: relative;
          z-index: 0;

          &::after {
            content: "";
            height: 5px;
            width: 5px;
            background-color: #1ebeb6;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
          }
        }
        .owl-dot {
          &:focus {
            outline: none;
          }

          span {
            background-color: white !important;
            display: block !important;
            height: 20px;
            width: 20px;
            border: 2px solid #cccccc;
            border-radius: 50%;
            margin: 5px;
          }
        }
      }

      .owl-item {
        padding: 20px 20px !important;
        .item {
          padding: 30px 30px !important;
          box-shadow: 0 0 10px #e7e7e7;
          p {
            font-size: 14px;
          }
          span {
            font-size: 11px !important;
            text-transform: uppercase;
            strong {
              color: #1ebeb6;
            }
          }

          background: #ffffff;
          .provider {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 15px;
            .thumb {
              height: 80px;
              width: 80px;
              margin-right: 15px;
              margin: auto auto 30px;
              img {
                border-radius: 50%;
              }
            }
            .bio {
              h5 {
                text-transform: capitalize;
                font-weight: 600;
                margin-bottom: 5px;
              }
            }
          }
          .info {
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            overflow-x: hidden;
            background-color: #ffffff;
            color: #666666;
            text-align: center;
          }
        }
      }
    }
  }
}
// section testimon end

// section services start

.department {
  h4 {
    color: #1ebeb6;
    font-weight: 600;
  }
  h2 {
    position: relative;
    &::before {
      background: #1ebeb6 none repeat scroll 0 0;
      bottom: 0;
      top: 40px;
      content: "";
      height: 2px;
      left: 50%;
      margin-left: -25px;
      position: absolute;
      width: 40px;
    }
  }
}
// section services end

//section consultation start
.us {
  padding-right: 65px;
}
.single-item {
  margin-top: 30px;

  .items {
    padding: 35px;
    background: #ffffff;
    text-align: center;
    border: 2px solid rgba(30, 190, 182, 1);
    h2 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
    }
  }
}

.appoinment-box {
  position: relative;
  &::after {
    position: absolute;
    left: -30px;
    top: -30px;
    content: "";
    height: 100%;
    width: 100%;
    background: #1ebeb6;
    z-index: -1;
    opacity: 0.2;
  }

  .heading {
    h4 {
      position: relative;
      color: white;

      &::after {
        position: absolute;
        left: 50%;
        bottom: -60px;
        content: "";
        height: 100%;
        width: 30%;
        background-image: url("../img/devider-light.png");
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 15px;
      }
    }
  }
  //section consultation end
  form {
    position: relative;
    background: #1ebeb6;
    padding: 60px 37px;
    z-index: 1;

    input,
    select {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 30px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      padding: 0 25px;
      color: #ffffff;
      &::placeholder {
        color: white;
      }
    }
  }
  button {
    padding: 12px 40px;
    background: #ffffff;
    color: #1ebeb6;
    border: none;
    font-weight: 600;
    width: 100%;
    border-radius: 30px;
  }
}
//section clinic start
.inform {
  padding: 20px 50px;
  background: #ffffff;
  position: relative;
  top: 110px;
  left: -140px;
  border-bottom: 3px solid #1ebeb6;
}
//section clinic end
//btn-gradient start
.btn-gradient {
  position: relative;
  z-index: 1;
  color: #ffffff !important;
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(30, 190, 182, 1) 0%,
      rgba(0, 130, 124, 1) 100%
    );
    transition: all 0.35s ease-in-out;
    z-index: -1;
    box-shadow: 0 0 10px rgba(255, 136, 0, 0.5), inset 0 0 1px 1px #1ebeb6;
  }
}

.btn {
  font-weight: 700;
  line-height: 25px;
  text-transform: capitalize;

  transition: all 0.35s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
  font-size: 17px;
  i {
    height: 30px;
    background: #ffffff;
    color: #79dbd6;
    line-height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 5px;
  }
}

//btn-gradient end
.item-area {
  position: relative;

  .date {
    position: absolute;
    left: 30px;
    bottom: 30px;
    height: 70px;
    width: 80px;
    background: #1ebeb6;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    padding: 0 20px;
    line-height: 1.3;
    font-weight: 600;
    padding-top: 15px;
    border-radius: 5px 5px 0 5px;
    &::after {
      position: absolute;
      right: 0;
      bottom: -10px;
      content: "";
      border-right: 15px solid #1ebeb6;
      border-top: 0;
      border-bottom: 15px solid transparent;
    }
  }
}
//section news  start
.patient {
  background-color: #ffffff;
  padding: 30px;
  h4 {
    a {
      &:hover {
        text-decoration: none;
        color: #1ebeb6;
        transition: all 0.35s ease-in-out;
      }
    }
  }
  .tags {
    margin-bottom: 10px;

    ul {
      li {
        display: inline-block;
        margin-bottom: 5px;
        position: relative;
        z-index: 1;
        padding-right: 5px;
        .health {
          &::after {
            position: absolute;
            right: -1px;
            bottom: 0;
            content: ",";
            font-weight: 600;
          }
        }
        a {
          color: #666666;
          font-weight: 500;
          text-decoration: none;
        }
      }
    }
  }
}

.paragraf {
  text-decoration: none;
  color: black;
}

.meta {
  margin-top: 20px;
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      img {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        margin-right: 6px;
      }
      span {
        margin: 10px;
        &:hover {
          text-decoration: none;
          color: #1ebeb6;
          transition: all 0.35s ease-in-out;
        }
      }
    }
    li {
      a {
        i {
          color: #1ebeb6;
        }
      }
    }
  }
}
//section news  end
//address section start
#address {
  .form {
    strong {
      display: block;
      color: #1ebeb6 !important;
      margin-top: 5px;
      font-size: 32px;
    }
    .form-control {
      border: none !important;
      border-bottom: 1px solid #e7e7e7 !important;
      padding: 0;
      border-radius: inherit !important;
    }
    textarea {
      min-height: 150px;
    }
    a {
      border-radius: 30px;
      padding: 12px 35px;
    }
  }
}

.address-info {
  position: absolute;
  left: 30px;
  bottom: 0;
  padding: 30px;
  background: #ffffff;
  right: 30px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin: 0 30px;
      h5 {
        margin-bottom: 20px;
        i {
          margin-right: 5px;
          color: #1ebeb6;
          font-size: 30px;
          position: relative;
          top: 5px;
        }
      }
    }
  }
}
//address section end

//footer start
footer {
  background: #001d4c;
  .heald {
    padding-top: 43px;
    p {
      color: #96aac1;
    }
  }

  img {
    margin-bottom: 30px;
    max-width: 100%;
  }

  .assurance {
    h5 {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 18px;
    }
    ul {
      list-style-type: none;
      li {
        i {
          font-size: 30px;
          min-width: 50px;
          display: inline-block;
        }
      }
    }
  }
}

footer {
  .department {
    margin-top: 50px;
    h4 {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 22px;
      color: white;
    }

    ul {
      li {
        margin-bottom: 15px;

        color: #96aac1;
        :last-child {
          margin-bottom: 0;
        }

        a {
          text-decoration: none;
          font-weight: 600;
          color: #96aac1;
        }
      }
    }
  }
}

footer {
  .useful-links {
    margin-top: 50px;
    h4 {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 22px;
      color: white;
    }

    ul {
      li {
        margin-bottom: 15px;

        color: #96aac1;
        :last-child {
          margin-bottom: 0;
        }

        a {
          text-decoration: none;
          font-weight: 600;
          color: #96aac1;
        }
      }
    }
  }
}

footer {
  .branch {
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.05);
    padding: 37px;
    border-bottom: 2px solid #1ebeb6;

    .central {
      ul {
        list-style-type: none;
        li {
          margin-bottom: 20px;
          color: #96aac1;
          :last-child {
            margin: 0;
          }
          b {
            display: block;
            margin-bottom: 5px;
            color: #ffffff;
            font-weight: 900;
          }
        }
      }
    }
  }
}

footer {
  .footer-end {
    background: rgba(255, 255, 255, 0.03);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    padding-bottom: 0;
    .social {
      a {
        display: inline-block;
        text-decoration: none;
        color: #ffffff;

        p {
          padding-right: 20px;
        }
      }
    }
    .copyright {
      p {
        color: white;
      }
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
    b {
      color: white;
    }
  }
}
//footer end

//responsiv start
@media only screen and (max-width: 991px) {
  footer {
    .department {
      align-items: flex-start !important;
      ul {
        padding-left: 0px !important;
      }
    }
    .useful-links {
      ul {
        padding-left: 0px !important;
      }
    }
  }
  .footer-end {
    .copyright {
      text-align: center !important;
    }
    .social {
      text-align: center !important;
    }
  }
  #testimon {
    .test-head {
      h2 {
        font-size: 20px !important;
      }
      &::before {
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: -100px !important;
      }

      &::after {
        height: 600% !important;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .nav {
    .container {
      button.navbar-toggler {
        width: 50px !important;
      }
    }

    li a {
      padding: 20px;
      color: #233645;
      font-weight: 700;
      font-size: 15px;
    }
  }
  header {
    display: none;
  }
  .emergency {
    display: none;
  }
  #third {
    .our-video {
      position: relative !important;
      left: 0px !important ;
      bottom: 0px !important;
    }
    .items {
      flex-direction: column !important;
    }
  }
  .inform {
    left: 0;
    top: 0;
  }
}

//responsiv end
// doctor.html start
.doctor-list {
  background: url(../img/7.png),
    linear-gradient(90deg, rgba(30, 190, 182, 1) 0%, rgba(0, 130, 124, 1) 100%);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  .col-lg-8 {
    padding-top: 100px !important;
    h1 {
      font-weight: 700;
      color: #ffffff;
      text-transform: capitalize;
    }
    ul {
      background: transparent none repeat scroll 0 0;
      display: inline-block;
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 1;
      li.active {
        color: #dddddd;
        text-decoration: underline;
      }
      li {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        display: inline-block;
        color: #ffffff;
        margin-left: 10px;
        margin-right: 5px;
        a {
          font-weight: 600;
          text-transform: uppercase;
          font-size: 14px;
          display: inline-block;
          color: #ffffff;
          position: relative;
          &::after {
            content: "";
            font-family: "themify";
            font-weight: 700;
            color: #ffffff;
            position: absolute;
            right: -2px;
            height: 8px;
            width: 8px;
            border: 2px solid rgba(255, 255, 255, 0.7);
            border-radius: 50%;
            top: 24px;
          }
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
// doctor.html end
// about.html start
.single-item {
  margin-bottom: 30px;
  .item-doc {
    background: #ffffff;
    .thumb-doc {
      position: relative;
      z-index: 1;
      .contact-doc {
        background: linear-gradient(
          90deg,
          rgba(30, 190, 182, 1) 0%,
          rgba(0, 130, 124, 1) 100%
        );
        position: absolute;
        left: 50%;
        bottom: -25px;
        transform: translate(-50%, 0);
        padding: -10px 25px;
        border-radius: 30px;
        ul {
          line-height: 0.5 !important;
          display: flex !important;
          margin: 0;
          list-style-type: none;
          padding-left: 0px;
          li {
            margin: 0 0 !important;
            position: relative;
            z-index: 1;
            padding: 0 5px;
            &::after {
              display: flex !important;
              margin: 0 5px;
              position: relative;
              z-index: 1;
              padding: 0 5px;
            }
            a {
              display: inline-block;
              color: #ffffff;
            }
          }
        }
      }
    }
    .info {
      text-align: center;
      padding: 30px;
      padding-top: 50px;
      h6 {
        font-weight: 600;
        margin-bottom: 10px;
      }
      span {
        color: #1ebeb6;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 15px;
      }
    }
  }
}

// about.html end
// blog.html start
.tags {
  ul {
    li {
      a {
        i {
          color: #1ebeb6;
        }
      }
    }
  }
}

.col-md-12.pagi-area {
  text-align: center !important;

  nav {
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    overflow-x: hidden;
    color: #666666;
    ul {
      li {
        a {
          display: inline-block;
          padding: 15px 20px;
          margin: 5px;
          margin-bottom: 0;
          border-radius: 10px;
          color: #1ebeb6;
        }
      }
      li.active {
        a {
          background: #1ebeb6;
          color: #ffffff;
        }
      }
    }
  }
}

// blog.html end
// section count start
#count {
  background: url(../img/7.png),
    linear-gradient(90deg, rgba(30, 190, 182, 1) 0%, rgba(0, 130, 124, 1) 100%);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  .fact {
    padding: 120px 50px;
    color: #f8f9fa;
    text-align: center;
    .time {
      display: inline-block;
      font-size: 40px;
      font-weight: 800;
      position: relative;
      z-index: 1;
      margin-left: -20px;
      position: relative;
      &::after {
        position: absolute;
        right: -25px;
        top: 14px;
        content: "\f067";
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 20px;
      }
    }
    .satisfy {
      display: block;
      margin-top: 10px;
      font-weight: 700;
      color: #f8f9fa;
    }
  }
}
//section count end
//section owl-something start

.itemss {
  padding: 50px 30px 50px 30px;
  background: #ffffff;
  box-shadow: 0 0 10px #e7e7e7;
  position: relative;
  z-index: 1;
  margin: 10px;
  .care {
    &:hover {
      .iconss {
        &::before {
          animation: infinite 10s infinite linear;
          opacity: 1;
        }
      }

      @keyframes infinite {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
    h4 {
      font-weight: 700;
      margin-bottom: 35px;
      font-size: 25px;
      a {
        color: #233645;
        outline: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .iconss {
      display: inline-block;
      font-size: 45px;
      margin-bottom: 35px;
      position: relative;
      z-index: 1;
      color: #ffffff;
      height: 90px;
      width: 90px;
      line-height: 92px;
      &::before {
        position: absolute;
        left: -9%;
        top: -9%;
        content: "";
        height: 120%;
        width: 120%;
        background: url(../img/3.png);
        z-index: -1;
        border-radius: 50%;
        opacity: 0.3;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.35s ease-in-out;
      }

      i {
        position: absolute;
        left: 3%;
        top: 2%;
        height: 95%;
        width: 95%;
        background: #1ebeb6;
        z-index: -1;
        border-radius: 50%;
        text-align: center;
        padding: 21px;
        font-size: 40px;
      }
    }
    p {
      color: #666666;
      margin: 0 0 15px;
      text-transform: none;
      font-weight: 400;
      text-align: center;
    }
    a.btn {
      background-color: transparent;
      color: #1ebeb6 !important;
      border: 1px solid #1ebeb6 !important;
      background: #ffffff;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-self: center;
      padding: 12px 18px;
      font-size: 14px;
      font-weight: 600;
      i {
        font-size: 14px;
        background-color: #1ebeb6;
        color: white;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 26px;
        border-radius: 50%;
        margin-right: 5px;
        margin-top: -3px;
      }
      &:hover {
        background-color: #1ebeb6;
        color: #ffffff !important;

        i {
          color: #1ebeb6 !important;
          background-color: white !important;
        }
      }
    }
  }
}
//section owl-something end
